# Data Cleaning

# 1 . Load the Dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2 . Cleaning the Dataset

In [3]:
data = pd.read_csv("Monthly_Food_Retail_Price.csv")

In [4]:
data.shape

(1147446, 8)

In [5]:
data

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.0
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.0
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.5
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,NaN
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,NaN
...,...,...,...,...,...,...,...,...
1147441,West Bengal,Jalpaiguri,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN
1147442,West Bengal,Kolkata,Wheat,Desi,Kg.,Food,MAR-2021,NaN
1147443,West Bengal,Kolkata,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.0
1147445,West Bengal,Malda,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN

# 3 . The missing values (Column_wise)

In [6]:
data

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.0
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.0
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.5
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,NaN
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,NaN
...,...,...,...,...,...,...,...,...
1147441,West Bengal,Jalpaiguri,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN
1147442,West Bengal,Kolkata,Wheat,Desi,Kg.,Food,MAR-2021,NaN
1147443,West Bengal,Kolkata,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.0
1147445,West Bengal,Malda,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN

# The missing Values (Column_Wise)

In [7]:
data.isnull().sum(axis=0).sort_values(ascending=False)

Retail Price    568921
Variety         205578
Commodity         9720
State                0
Centre               0
Unit                 0
Category             0
Date                 0
dtype: int64

# The missing values (row_wise)

In [8]:
data.isnull().sum(axis=1).sort_values(ascending=False)

502684    3
618314    3
57562     3
144072    3
359399    3
         ..
724861    0
275986    0
724859    0
275987    0
0         0
Length: 1147446, dtype: int64

# Column having at least one missing value

In [9]:
d=data.isnull().any()
d

State           False
Centre          False
Commodity        True
Variety          True
Unit            False
Category        False
Date            False
Retail Price     True
dtype: bool

In [10]:
d.index

Index(['State', 'Centre', 'Commodity', 'Variety', 'Unit', 'Category', 'Date',
       'Retail Price'],
      dtype='object')

# Column Having all missing values

In [11]:
data.isnull().all(axis=0)

State           False
Centre          False
Commodity       False
Variety         False
Unit            False
Category        False
Date            False
Retail Price    False
dtype: bool

# Rows having all missing values

In [12]:
data.isnull().all(axis=1).sum()

0

# 4 . Save the clean data in CSV and JSON format

In [13]:
import csv

In [14]:
data.to_csv("Sujan_Clean_EDA_Data.csv")

In [15]:
data.to_json("Sujan_Clean_EDA_Data.json")

In [16]:
data.shape

(1147446, 8)

# EDA with Visualization if required

# 5 . Load Cleaned Dataset

In [31]:
df2 = data
df2

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.0
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.0
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.5
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,NaN
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,NaN
...,...,...,...,...,...,...,...,...
1147441,West Bengal,Jalpaiguri,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN
1147442,West Bengal,Kolkata,Wheat,Desi,Kg.,Food,MAR-2021,NaN
1147443,West Bengal,Kolkata,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.0
1147445,West Bengal,Malda,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,NaN

# 6 . Which data has highest price of wheat

SyntaxError: invalid syntax (Temp/ipykernel_19084/924107488.py, line 1)